{% extends 'parent/base.html' %}
{% load blog_tags %}
{% block title %}post list{% endblock %}
{% block content %}
    <h2>Statistics</h2>
    <p>Posts Count: {% total_posts %}</p>
    <p>Comments Count: {% total_comments %}</p>
    <p>Date of last Post: {% last_post_date %}</p>

    {% latest_posts 6 %}

    <h2>Popular Posts</h2>
    {% most_popular_posts 6 as pop_posts %}
    {% for post in pop_posts %}
        <br>
        <a href="{{ post.get_absolute_url }}">{{ post.title }}: with {{ post.comments_count }} comments</a>
    {% endfor %}
{% endblock %}